*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#111;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:black;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin:0 15px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:#222;
}

.hero button{
    padding:10px 20px;
    margin-top:20px;
    border:none;
    background:red;
    color:white;
}

.trainer-container,
.plan-container{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
}

.card,
.plan{
    background:#222;
    padding:20px;
    text-align:center;
    border-radius:10px;
}

.card img{
    width:200px;
    border-radius:10px;
}

.membership,
.bmi{
    text-align:center;
    padding:40px;
}

form{
    display:flex;
    flex-direction:column;
    width:300px;
    margin:auto;
}

input{
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px;
    background:red;
    color:white;
    border:none;
}

footer{
    text-align:center;
    padding:20px;
    background:black;
}